mat-card{
  width : 100%;
// margin: 20px;
}
mat-card-header{
  display: flex;
  // height: 48px;
  align-items: center;
  font-size: x-large;
}
mat-form-field{
  padding-left: 4px !important ;
   width: 18% !important ;
}

.example-label {
  display: table-cell;
  font-size: 1px;
  margin-left: 8px;
  // min-width: 120px;
}

.example-button-row {
  display: flex;
  max-width: 600px;
  align-content: center;
}
section {
  display: table;
}
.example-button-row .mat-mdc-button-base  {
  margin: 8px 8px 8px 0;
}


.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
