<mat-card>
  <mat-card-content *ngIf="adherent">
    <h1>Editer</h1>
    <section>
      <div class="example-button-row">
        <button mat-raised-button color="primary"(click)="onSave()">Sauvegarder</button>
        <button mat-raised-button color="primary"(click)="onCreate()">Créer</button>
      </div>
    </section>

    <mat-divider></mat-divider>


    <div>
      <mat-form-field appearance="fill">
        <mat-hint>nom</mat-hint>
        <input matInput [(ngModel)]= "adherent.lastName" >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <input matInput [(ngModel)]= "adherent.firstName" >
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>email</mat-label>
        <input matInput required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>téléphone</mat-label>
        <input matInput required>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label></mat-label>
        <mat-hint>n° de licence</mat-hint>
        <input matInput [(ngModel)]="adherent.license">
      </mat-form-field>
    </div>


    <mat-divider></mat-divider>

    <mat-form-field style="width:100%" appearance="fill">
      <mat-label>adresse</mat-label>
      <input matInput>
    </mat-form-field>


    <div>
      <mat-form-field appearance="fill">
        <mat-label>CP</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>ville</mat-label>
        <input matInput>
      </mat-form-field>
    </div>

  </mat-card-content>
</mat-card>
