<mat-toolbar>



  <div class="item_in_row">
  <!-- <button mat-icon-button> -->
    <mat-icon>menu</mat-icon>
    <span>My App</span>
  <!-- </button> -->

  </div>


 <a class="item_in_row"routerLink="/adherents">
    <!-- <mat-icon matListItemIcon>group</mat-icon> -->
    <span>Adherents </span>
  </a>



 <div class="item_in_row">
  <a routerLink="/tournois">
    <!-- <mat-icon matListItemIcon>group</mat-icon> -->
    <span>Tournois </span>
  </a>
  </div>


  <span class="example-spacer"></span>

  <div class="item_in_row">
  <!-- <button mat-icon-button> -->
    <!-- <mat-icon>login</mat-icon> -->
    <span>Login</span>
  <!-- </button> -->
  </div>

  <!-- <img class="avatar" src="../../../assets/images/papou.jpg" />
    <h4 class="name">Xian'da</h4>
 -->

</mat-toolbar>
