.mat-toolbar {
  background: #538bca;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color:white;
  position:relative;
  z-index: 10;
}
.mat-toolbar-row {
  display: flex;
  justify-content:flex-start ;
}

.example-spacer {
  flex: 1 1 auto;
}


.mat-sidenav-container {
  position:relative;
  z-index: 5;
  height:calc(100vh - 70px);   // ??
  // display:flex;

}


// .... partie centrale (dashboard)
.mat-sidenav-content {
  padding-left : 25px;
   padding-top: 25px;
   padding-right : 25px;
   overflow: hidden;
 }

// partie side-nav
.mat-sidenav {
  margin-top: 1px;
  margin-left: 1px;
  width: 180px;
  background: #538bca;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  // color:white;
  //border-radius: 10px;
  padding: 10px;
  text-align: center;

  .list{
    text-align:left;
    margin-left: 18px;
    .item{
        text-decoration: none;
        color:white;
        // font-size: larger;
    }
  }

  .mat-icon {
    vertical-align: bottom;
    font-size: px !important;
    margin-right: 1px;
  }

}




.avatar {
  margin-top: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 1rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}
