<mat-toolbar >
  <button mat-icon-button (click)="drawer.toggle()">    <!---->
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>

  <span class="example-spacer"></span>

  <button mat-icon-button>
    <mat-icon>login</mat-icon>
  </button>
  <span>Login</span>
</mat-toolbar>

<mat-sidenav-container color="primary" >



  <mat-sidenav #drawer [(opened)]="SidenavOpened" mode="side" >
    <img class="avatar mat-elevation-z8" src="../../../assets/images/papou.jpg" />
    <h4 class="name">Xian'da</h4>
    <p class="designation">Software Patuyer</p>

    <mat-divider></mat-divider>

    <p class="links">
      <a routerLink="/adherents" class="list item">
        <mat-icon matListItemIcon>group</mat-icon>
        Adherents
      </a>
    </p>

  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet> </router-outlet>
  </mat-sidenav-content>


</mat-sidenav-container>
    <!--

    <mat-nav-list class="list">


      <p>
        <a routerLink="/shop" class="list item">
          <mat-icon>shopping_cart</mat-icon>
          <span> Boutique</span>
        </a>
      </p>

      <p>
        <a routerLink="/club" class="list item">
          <mat-icon matListItemIcon>list_alt</mat-icon>
          Tournoi
        </a>
      </p>

      <br>
      <p>
        <a routerLink="" class="list item">
          <mat-icon matListItemIcon>logout</mat-icon>
          Logout
        </a>
      </p>

    </mat-nav-list>
  -->




<!--
<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav mode="side" [class.mat-elevation-z4]="true" class="app-sidenav">
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet>
        <div class="app-sidenav-content">
            Components open here
        </div>
    </router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>

  <mat-sidenav #sidenav mode="side" [class.mat-elevation-z4]="true" class="app-sidenav">
      <mat-nav-list>
          <mat-list-item routerLink="#">
              <mat-icon>dashboard</mat-icon><span>Dashboard</span>
          </mat-list-item>
          <mat-expansion-panel [class.mat-elevation-z0]="true">
              <mat-expansion-panel-header>
                  Mobile Phone
              </mat-expansion-panel-header>
              <mat-nav-list>
                  <a mat-list-item routerLink="#">
                      <mat-icon>apple</mat-icon><span>iOS</span>
                  </a>
                  <a mat-list-item routerLink="#">
                      <mat-icon>android</mat-icon><span>Android</span>
                  </a>
              </mat-nav-list>
          </mat-expansion-panel>
          <mat-expansion-panel [class.mat-elevation-z0]="true">
              <mat-expansion-panel-header>
                  Frameworks
              </mat-expansion-panel-header>
              <mat-nav-list>
                  <a mat-list-item routerLink="#">Spring</a>
                  <a mat-list-item routerLink="#">Hibernate</a>
                  <a mat-list-item routerLink="#">Struts</a>
              </mat-nav-list>
          </mat-expansion-panel>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <router-outlet>
          <div class="app-sidenav-content">
              Components open here
          </div>
      </router-outlet>

    -->
