<form [formGroup]="teamForm">
  <section>

    <div class="example-label">
      ajout nouvelle équipe :
    </div>


    <mat-form-field appearance="fill">
      <mat-label>Licence 1</mat-label>
      <input matInput formControlName="license1" (input)="changeControlTextToUpperCase('license1')">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Licence 2</mat-label>
      <input matInput formControlName="license2" (input)="changeControlTextToUpperCase('license2')">
    </mat-form-field>

    <button mat-icon-button color="primary">
      <mat-icon>save</mat-icon>
    </button>
</section>
</form>
