
<mat-toolbar class="menu">

  <!-- <app-side>  </app-side> -->

    <!-- <button mat-raised-button color="basic">ajouter une équipe</button>

    <button mat-raised-button color="basic">enregistrer</button>
 -->

<app-newpair></app-newpair>

</mat-toolbar>

<div class ="container-flex">

  <ng-container class ="container-flex"  *ngFor="let pair of namedPairs ; let team = index">
    <mat-card>
      <mat-card-content>
        <app-player player={{pair[0]}}>   </app-player>
        <app-player player={{pair[1]}}>   </app-player>
      </mat-card-content>
    </mat-card>

  </ng-container>

</div>
