<mat-toolbar class="menu">
  <section>

    <div class="example-label">
      ajout nouvelle équipe :
    </div>

    <form class="inputs"   [formGroup]="teamForm">

      <mat-form-field appearance="fill">
        <mat-label>Licence 1</mat-label>
        <input matInput formControlName="license1">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Licence 2</mat-label>
        <input matInput formControlName="license2">
      </mat-form-field>

      <button mat-raised-button class="submit-btn"
                    type="submit"
                    color="primary"
                     [disabled]="!teamForm.valid"
                    (click)="onSubmitPair()">
        ok
      </button>
    </form>
  </section>

</mat-toolbar>

<div class="container-flex">

  <ng-container class="container-flex" *ngFor="let pair of namedPairs ; let team = index">
    <mat-card>
      <mat-card-content>
        <app-player player={{pair[0]}}> </app-player>
        <app-player player={{pair[1]}}> </app-player>
      </mat-card-content>
    </mat-card>

  </ng-container>

</div>
