.table-row{
  height: 8px !important;
}


.container {
  display: flex;
  justify-content: space-around;
 // gap:10px;
}

.v_container {
  display: flex;
  flex-direction: column;
}

.flex{
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.adherents-list-container {
  margin-top: 1px;
 // height: calc(100vh - 62px);
  // overflow: hidden;
}

.adhTable{
  min-width: 500px;
}

// styles ligne

.mat-mdc-table  .mdc-data-table__row{
  height: 20px !important;    // force la valeur par defaut 52px de Material
}
.mat-mdc-icon-button{
  width: 14px;
  height:14px;
  padding: 2px !important;    // force la valeur par defaut 52px de Material
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
  background-color: rgb(69, 102, 190);
  color: white;
}

.demo-row-is-clicked {
  font-weight: bold;
}


// styles colonnes

.mat-column-lastName {
  // width: 32px;
  padding-right: 4px;
  text-align: left;
  font-size : smaller;
}

.mat-column-firstName {
 // width: 96px;
  padding-left: 6px;
}

.mat-column-license {
  font-style: italic;
  text-align: right;
  font-size : smaller;
  border-right: 1px solid currentColor;
}

.mat-column-_id {
  width: 32px;
  text-align: center;
  font-weight: bold;
  font-size : smaller;
}
