
.container {
  display: flex;
  justify-content: space-between;
}

.right-container {
  height: calc(100vh - 32px);
  overflow: auto;

}
.left-container {
  margin-top: 0px;


}

mat-card{
  width: 100%;
}

.adhTable {
  width: 100%;

}


.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
  background-color: burlywood;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.mat-column-lastName {
 // width: 32px;
  padding-right: 24px;
  text-align: center;
}

.mat-column-firstName {
 // width: 96px;
  padding-left: 16px;
  border-right: 1px solid currentColor;
}

.mat-column-license {
  font-style: italic;
  text-align: right;
}

.mat-column-adh_key {
  width: 32px;
  text-align: center;
  font-weight: bold;
  font-size : 12px;
}
