
mat-card {
    width : 400px;
    height:min-content;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   padding : 0 !important ;

}
.flex-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
